<p>Customer Dashboard Shopping Cart!</p>

<mat-card class="cultureFood-card">
    <mat-card-header>
      <div mat-card-avatar class="cultureFood-image"></div>
      <mat-card-title>Culture Foods</mat-card-title>
      <mat-card-subtitle>Indian and Pakistani Cusine</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/Culture-Foods-Icon.jpg" alt="Culture Foods Icon">
    <mat-card-content>
      <p>Casual venue specializing in Pakistani and Indian fare with an afternoon buffet & a brightly painted interior</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="viewMenu(2)">View Items</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="bigByteBurger-card">
    <mat-card-header>
      <div mat-card-avatar class="bigByteBurger-image"></div>
      <mat-card-title>Big Byte Burger</mat-card-title>
      <mat-card-subtitle>Big Bytes!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/BBB-Big-Byte-Burger-Icon.jpg" alt="Culture Foods Icon">
    <mat-card-content>
      <p>Chain for gourmet takes on fast-good classics like burgers and slider!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="viewMenu(4)">View Items</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="busyDonuts-card">
    <mat-card-header>
      <div mat-card-avatar class="busyDonuts-image"></div>
      <mat-card-title>Busy Donuts</mat-card-title>
      <mat-card-subtitle>Largests vareity in the area!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/BusyDonuts-Icon.jpg" alt="Culture Foods Icon">
    <mat-card-content>
      <p>Longtime chain serving a variety of donut flavors & shapes, plus coffe!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="viewMenu(6)">View Items</button>
    </mat-card-actions>
  </mat-card>