.tab-icon {
    margin-left: 15px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    align-items: center;
}

.tab-body {
    width: 75%;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mat-card-header {
    align-items: center;
}

.header {
    padding-top: 15px;
}
  
.mat-card-avatar {
    background-image: url('src/assets/BusyDonuts-Header-Img.jpg');
    background-size: cover;
}

.mat-card-content {
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-bottom: 0px;
}

.mat-card-image {
    max-width: 25%;
    padding-right: 30px;
}

.mat-card-actions {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -15px;
}

.price-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -30px;
}

.order-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px 15px 30px;
}

.order-checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 15px 15px 0px;
    border-top: 1px white solid;
}