<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Order Confirmation
        <mat-icon class="tab-icon">receipt</mat-icon>
      </ng-template>
      <!--order items as cards-->
      <div class="tab-content">
        Content
      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        Checkout
        <mat-icon class="tab-icon">check_circle_outline</mat-icon>
      </ng-template>
      <!--expected taxes + balance, checkout button->receipt dialog-->
      <div class="tab-content">
        Content
      </div>
    </mat-tab>

    <!--receipt as a dialog -->
  </mat-tab-group>