.customer-shoppingcart-productlist{
    display: inline-table;
    width:80%;
    margin-left: 2px;
    margin-right: 2px;
}
.customer-shoppingcart-cart{
    display: inline-table;
    width: 80%;
    margin-left: 2px;
    margin-right: 2px;
}