<form class="example-form" (submit)="onFormSubmit()" [formGroup]="itemForm">
      <div>
          <h2>Infomation: </h2>
          <table class="example-full-width" cellspacing="10"><tr>
              <td><mat-form-field class="example-full-width" appearance="fill" >
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name">
                  </mat-form-field></td>
            </table>
            <table class="example-full-width" cellspacing="10"><tr> 
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price">
              </mat-form-field></td>
              <br><br>
          </table>
          <table class="example-full-width" cellspacing="10"><tr>
                <td><mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Quantity</mat-label>
                  <input matInput formControlName="quantity">
                </mat-form-field></td>
          </table>
      </div>
      <br> <br>
      <input type="submit" value="Add Item" [disabled]="!itemForm.valid">
  </form>