<p>Customer Dashboard Profile</p>
<h2> {{customer.firstName}} </h2>
<form (submit)="onFormSubmit()" [formGroup]="customerProfile">
    <div>
        <h2>Personal Infomation: </h2>
        <label>Employee ID: </label>
        <input type="text" name="employeeId" formControlName="employeeId">
        &nbsp;
        <label>Email: </label>
        <input type="text" name="email" formControlName="email">
        <br> <br>
        
        <label>Username: </label>
        <input type="text" name="username" formControlName="username">
        &nbsp;
        <label>Password: </label>
        <input type="text" name="password" formControlName="password">
        <br> <br>

        <label>First Name: </label>
        <input type="text" name="firstName" formControlName="firstName">
        &nbsp;
        <label>Middle Name: </label>
        <input type="text" name="middleName" formControlName="middleName">
        &nbsp;
        <label>Last Name: </label>
        <input type="text" name="lastName" formControlName="lastName">
        <br> <br>

        <label>Phone Number: </label>
        <input type="text" name="phoneNumber" formControlName="phoneNumber">
        &nbsp;
        <label>Birthday: </label>
        <input type="text" name="birthday" formControlName="birthday">
        &nbsp;
        <label>Prefered Name: </label>
        <input type="text" name="preferedName" formControlName="preferedName">
    </div>

    <div>
        <h2>Billing Address: </h2>
        <label>Address Line 1: </label>
        <input type="text" name="addressLine1" formControlName="addressLine1">
        &nbsp;
        <label>Address Line 2: </label>
        <input type="text" name="addressLine2" formControlName="addressLine2">
        &nbsp;
        <label>Suite#: </label>
        <input type="text" name="suite" formControlName="suite">
        <br> <br>

        <label>Country$ Material Drop Down: </label>
        <input type="text" name="country" formControlName="country">
        &nbsp;
        <label>State$ Material Drop Down: </label>
        <input type="text" name="state" formControlName="state">
        &nbsp;
        <label>City: </label>
        <input type="text" name="city" formControlName="city">
        &nbsp;
        <label>Zip Code: </label>
        <input type="text" name="postalCode" formControlName="postalCode">
    </div>
    <hr>
    <div>
        <label>Terms Accepted - Disabled - Materials Checkbox - Boolean: </label>
        <input type="text" name="termAccepted" formControlName="termAccepted">
        <br> <br>
        <label>Email Verified - Disabled - Materials Checkbox - Boolean: </label>
        <input type="text" name="emailVerified" formControlName="emailVerified">
        <br> <br>
        <label>Two Factor Auth - Disabled - Materials Checkbox - Boolean: </label>
        <input type="text" name="twoFactorAuth" formControlName="twoFactorAuth">
        <br> <br>
        <label>Phone Verified - Disabled - Materials Checkbox - Boolean: </label>
        <input type="text" name="phoneVerified" formControlName="phoneVerified">
    </div>

    <br> <br>
    <input type="submit" value="Update Profile"> <!--[disabled]="!customerProfile.valid"-->
</form>

<form class="example-form">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Employee ID (Disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Long Last Name That Will Be Truncated</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
  </form>
  