<mat-sidenav-container id="sidenav-container" (backdropClick)="sidenav.close()">
  <mat-sidenav id="sidenav-slider" class="navbar" #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <p><button mat-button (click)="sidenav.close()">Close X</button></p> 
    <br />
 
    <p><a routerLink="/dashboard" (click)="close('QuickBytes')">Dashboard</a></p>
    <p><a routerLink="/customers" (click)="close('CustomerList')">Customer</a></p>
    <p><a routerLink="/vendor" (click)="close('Vendor')">Vendor</a></p>
    <p><a routerLink="/admin" (click)="close('Admin')">Admin</a></p>

    <span *ngIf="this.role == 'vendor' "> 
      <p><a routerLink="/menu/{{this.roleId}}" (click)="close('Menu')">Your Menu</a></p>
      <p><a routerLink="/item/{{this.roleId}}" (click)="close('Add Item')"> Add Item</a></p>
    </span>

    <p><a routerLink="/item-combo" (click)="close('Item Combo')">Item Combo</a></p>
    <p><a routerLink="/request" (click)="close('Request')">Request</a></p>
    <p><a routerLink="/request-item" (click)="close('Request Item')">Request Item</a></p>
    <p><a routerLink="/item-combo" (click)="close('Request Combo')">Request Combo</a></p>
    <p><a routerLink="/signup" (click)="close('Sign Up')">Sign Up</a> <br />
    <p><a routerLink="/username-verify" (click)="close('Verify Username')">Verify Username</a></p>
    
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar id="header">
        <button mat-button (click)="sidenav.open()">&#9776;</button>
        <p id="title" class="mat-h1">{{title}}</p>
        <p id="login"><a routerLink="/login" (click)="close('Login')">Login</a></p>
    </mat-toolbar>

    <div id="body">
        <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container> 