<p>Customer Parent</p>

<div class="customer-section">
    <hr>

 <div class="customer-shoppingcart"><app-customer-dashboard-shoppingcart></app-customer-dashboard-shoppingcart></div>

    <hr>

    <div class="customer-shoppingcart-productlist"><app-customer-dashboard-shoppingcart-productlist></app-customer-dashboard-shoppingcart-productlist></div>
    <div class="customer-shoppingcart-cart"><app-customer-dashboard-shoppingcart-cart></app-customer-dashboard-shoppingcart-cart></div>
    <hr>

    <div class="customer-profile"><app-customer-dashboard-profile></app-customer-dashboard-profile></div>    
</div>